@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: darkgreen;
}
.wrapper {
  overflow: hidden;
}
.card {
  margin: auto;
  border: 2px, black, thick;
  background-color: whitesmoke;
  width: 190px;
  height: 280px;
  display: flex;
  font-size: xx-large;
}
#who {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-self: center;
  align-self: center;
}
#logo {
  font-size: 5vw;
  padding-top: 15px;
  padding-left: 25px;
  align-self: flex-start;
}
#logoFlip {
  font-size: 5vw;
  padding-top: 15px;
  padding-left: 25px;
  align-self: flex-end;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.heart {
  color: red;
}
.diamond {
  color: red;
}
.club {
  color: black;
}
.spade {
  color: black;
}
